body {
  display: grid;
  place-content: center;
  background: #f2f1f3;
}
p {
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
}

.episode {
  background: white;
  border: 4px solid gray;
  border-radius: 1rem;
}
.episode img {
  cursor: pointer;
  border-radius: 1rem;
}
.head {
  border: 2px solid darkgray;
  border-radius: 1rem 0 1rem;
  text-transform: capitalize;
  font-size: 35px;
  text-align: center;
  margin: 1rem;
}
.summary {
  text-align: left;
  margin: 1rem;
}
#search {
  width: 15rem;
  margin-left: 2rem;
  margin-top: 1rem;
  border: 3px solid rgba(59, 59, 59, 0.123);
  border-radius: 5px;
  cursor: pointer;
}
.display-number-of-episodes {
  width: fit-content;
  margin-top: 1rem;
}
#navbar {
  display: flex;
  column-gap: 2rem;
}
#select {
  margin-left: 4rem;
  margin-top: 1rem;
  width: fit-content;
}
