body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  background: rgb(211, 211, 211);
}
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(211, 211, 211);
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border: 0.2rem solid gray;
  border-radius: 1rem;
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 3rem;
}
.episode {
  background: white;
  border: 4px solid gray;
  border-radius: 1rem;
}
.episode img {
  cursor: pointer;
  border-radius: 1rem;
}
.head {
  border: 2px solid darkgray;
  border-radius: 1rem 0 1rem;
  text-transform: capitalize;
  font-size: 35px;
  text-align: center;
  margin: 1rem;
}
.summary {
  text-align: left;
  margin: 1rem;
}

#navbar {
  display: flex;
  column-gap: 2rem;
  background: darkseagreen;
  position: sticky;
  top: 0;
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#search {
  width: 15rem;
  margin-left: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 3px solid rgba(59, 59, 59, 0.123);
  border-radius: 0.5rem;
  cursor: pointer;
  height: 2rem;
}

#selectEpisode {
  margin-left: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: 2.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
#selectShow {
  margin-left: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  height: 2.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.display-number-of-episodes {
  width: fit-content;
  margin-left: 0.7rem;
  margin-top: 1.1rem;
  margin-bottom: 1rem;
}
.tv-span {
  margin-top: 1rem;
  margin-left: 3rem;
  width: 7rem;
  background: rgb(211, 211, 211);
  color: rgb(24, 24, 24);
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1rem;
  border: 0.2rem solid gray;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* Shows */

.showCard {
  background: white;
  border: 4px solid gray;
  border-radius: 1rem;
}
#showCardName {
  border: 2px solid darkgray;
  border-radius: 1rem 0 1rem;
  text-transform: capitalize;
  font-size: 35px;
  text-align: center;
  margin: 1rem;
  cursor: pointer;
}
.info > p {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.content-container {
  padding: 1rem;
}
.info a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  font-family: sans-serif;
  font-weight: bold;
}

#preloader {
  background: rgb(211, 211, 211) url(./preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

@media screen and (max-width: 1098px) {
  #navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: darkseagreen;
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 13rem;
  }
  .display-number-of-episodes {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #search {
    margin-left: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  #selectEpisode {
    order: 1;
    margin-left: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #selectShow {
    order: 1;
    margin-left: 0rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .tv-span {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 948px) {
  #root {
    display: flex;
    flex-direction: column;
    text-align: center;
    column-gap: 3rem;
    row-gap: 2rem;
    padding: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #navbar {
    flex-wrap: nowrap;
    max-height: fit-content;
  }
  #selectEpisode {
    order: 0;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #selectShow {
    order: 0;
    margin-left: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}
